<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To do list</title>
    <link rel="stylesheet" href="css/styles.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="js/index.js" charset="utf-8"></script>

  </head>
  <body>

  <div >
    <div class="list">
    <h3 class="quickLabals" ><img src="images/priority.png" alt="Quick list"></h3>
    </div>
    <div class="labals">
      <h3>L I S T S</h3>
      <h4 ><a href="/"> T o d a y </a></h4>
      <h4 ><a href="/work"> W o r k </a></h4>
      <h4 ><a href="/home"> H o m e </a></h4>
      <h4 ><a href="/school"> S c h o o l </a></h4>

      <form class="" action="/customList" method="post">
        <input type="text" name="listName" value="" placeholder=" P e r s o n a l  L i s t " autocomplete="off">
        <button type="submit" name="button"><img src="images/external.png" alt="External links"></button>
      </form>
    </div>
  </div>
